<!DOCTYPE html>
<html>
    <head>
        <title>{{ titulo }} - Resultado</title>
    </head>
    <body>
        <h1>{{ titulo }}</h1>

        <p>El resultado de {{ operacionLarga }} {{ num1 }} {{ operacionSimbolo }} {{ num2}} = {{ resultado }}</p>

        {# ... #}
    </body>
</html>